.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.chat-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
}

.message-post-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ececec;
    padding: 10px;
    border-radius: 10px;
}

.message-post-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.chat-message.received {
    background-color: #e4e3e3;
    align-self: flex-start;
    text-align: left;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
    align-self: flex-end;
}
