/* Container for the whole page */
.home-container {
    padding: 20px;
}

/* Layout for the posts list */
.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Style for each post card */
.post-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    width: 75%;
    position: relative;
    padding: 20px;
    justify-content: space-between;
}

.post-card:hover {
    transform: translateY(-10px);
}

/* Style for the post image */
.post-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Style for the details section of the post */
.post-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
}

.post-title:hover {
    color: #007bff;
}

.post-author,
.post-user,
.post-genre {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.post-author {
    margin-bottom: 5px;
}

.post-user {
    margin-bottom: 5px;
}

/* Style for the post price */
.post-price-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-price {
    color: #28a745;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.post-genre {
    margin-bottom: 5px;
}
