.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: auto;
    position: relative;
    padding-bottom: 10px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    text-align: center;
}

.ratings {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.likes, .dislikes {
    margin: 0 10px;
    font-size: 18px;
}

.posts-section {
    flex-grow: 1;
    margin-left: 20px;
}

.post:hover {
    transform: translateY(-10px);
}

.posts-container {
    background-color: #f8f9fa;
    padding: 20px;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #dcdcdc;
    width: 100%;
}

.no-posts {
    margin: 0;
    text-align: center;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    width: 100%;
    position: relative;
    padding: 20px;
    justify-content: space-between;
}

.post:hover {
    transform: translateY(-10px);
}

.post-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.post-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.post-title {
    font-size: 20px; 
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
    text-decoration: none;
}

.post-title:hover {
    color: #007bff;
}

.post-author,
.post-user,
.post-genre {
    font-size: 16px; 
    color: #555;
    margin: 5px 0;
}

.post-author {
    margin-top: 20px;
    margin-bottom: 5px;
}

.post-user {
    margin-bottom: 5px;
}

.post-price-container {
    position: absolute;
    top: 10px;
    margin-left: 500px;
    right: 2px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-price {
    color: #28a745;
    font-weight: bold;
    font-size: 18px; 
    margin: 0;
}

.post-genre {
    margin-bottom: 5px;
}
