@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Poppins', sans-serif;
}

.signup-title {
    font-size: 3rem;
    color: white;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-title span {
    margin-right: 10px;
}

.signup-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
}

.signup-box label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

.signup-box input {
    width: 100%;
    margin-bottom: 1rem;
}

.signup-box h2 {
    text-align: left;
}

.password-strength.weak {
    color: red;
}

.password-strength.moderate {
    color: orange;
}

.password-strength.strong {
    color: green;
}
